# Build
bin/
obj/

# Rider / VS / VS Code
.vs/
.vscode/
.idea/

# MacOS
.DS_Store

# Node / Vite
node_modules/
dist/
.cache/

# Logs
*.log

# User files
*.user
*.suo

# WebSharper generated
wwwroot/Scripts/